:root{
    --background:#1e1540f1;
    --destaque1:yellow;
    --acompanhamento:#c290ffbd;
    --backgroud-secundario:#321473;
    --backgroud-variação:#130d27f1;
    --destaque2:#07F2DB;
    
    --font-padrão:"Nunito Sans", sans-serif;
    --font-destaque:"Contrail One", sans-serif;
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin: 20px
}

.container > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 10px 0px;
}

.container3{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    background-color:#130d27f1;
    border-radius: 5px;
}
.container3 > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 10px 0px;
}

.container-grid{
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 200px 200px 200px; 
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
}
.item{
    border: 3px solid yellow;
    background-color: var(--backgroud-variação);
    padding: 10px;
}

table{
    border-collapse: collapse;
    position: relative;
    margin: 10px 5px;
}

tr{
    background-color: var(--acompanhamento);
    border: 1px solid black;
}

tbody > tr:nth-child(odd){
    background-color: var(--acompanhamento);
}

tbody > tr:nth-child(even){
    background-color:yellow;
}

thead > tr > th{
    position: sticky;
    top: -1px;
    background-color: var(--backgroud-secundario);
    color: var(--destaque2);
}

th{
    text-align: center;
    border: 1px solid black;
    padding: 5px 7px;
    background-color: var(--backgroud-secundario);
    color: var(--destaque2);
}

td{
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    font-weight: bold;
}

caption{
    background-color:var(--backgroud-variação);
    font-weight: bolder;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}

.corsla{
    background-color: var(--acompanhamento);
    color: black;
    font-size: larger;
}
.nada{
    display: none;
}
