@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

:root{
    --background:#1e1540f1;
    --destaque1:yellow;
    --acompanhamento:#c290ff;
    --backgroud-secundario:#321473;
    --backgroud-variação:#130d27;
    --destaque2:#07F2DB;
    
    --font-padrão:"Nunito Sans", sans-serif;
    --font-destaque:"Contrail One", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

body{
    background-size: cover;
    height: 100vh;
    background-color: black;
    background-image: url(image/backgroud.jpeg);
    background-position: top right;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

header{
margin: 0px 0px 0px 5px;
}

nav{
    font-family: var(--font-destaque);
    display: flex;
    background-color: var(--backgroud-secundario);
    padding-left: 10px;
    width: 340px;
    margin: auto;
    margin: 0px 0px 15px 15px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.342);
}

nav a{
    font-size: large;
    color: yellow;
    font-weight: bold;
    transition-duration: 1s;
}

nav a:hover{
    background-color: var(--acompanhamento);
    color: var(--destaque2);
}

main{
    background-color:var(--background);
    font-family: var(--font-padrão);
    padding: 15px;
    margin: auto;
    width: 100%;
    max-width: 1000px;
    min-width: 200px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.411);
}

footer{
    background-color: var(--acompanhamento);
    padding-left: 10px;
    max-width: 1000px;
    min-width: 250px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.411);
}

footer> p{
    color: black;
    font-size: large;
    font-weight: bold;
    padding: 0px;
}

p{
    text-indent: 25px;
    font-family: var(--font-padrão);
    color: white;
    text-align: justify;
    padding: 10px;
}

h1{
    font-family: var(--font-destaque);
    color: var(--destaque2);
    text-align: center;
    padding: 15px;
}

a{
    color: var(--destaque1);
    font-size: medium;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 10px;
}

a:hover{
    text-decoration: underline;
}

li{
    font-family: var(--font-padrão);
    color: white;
    padding: 10px;
}

ol{
    color: white;
    padding: 20px;
    list-style-type: upper-roman;
}

ol > li{
    color: var(--destaque1);
}

ul{
    list-style-position: inside;
    list-style-image: url(https://static.wikia.nocookie.net/enterthegungeon_gamepedia/images/6/65/Bullet_%28Gun%29.png/revision/latest?cb=20160905013440);
    padding: 5px;
}

div > a:active{
    color: yellow;
}

.destaque{
    color: var(--destaque2);
    font-weight: bold;
    font-size: large;
}

.destaque:hover{
    text-decoration: none;
}

.idk{
    width: 500px;
}

.dropdown .content{
    position: absolute;
    background-color: var(--backgroud-secundario);
    border-radius: 5px;
}

.content{
    display: none;
}

.dropdown:hover .content{
    display: block;
}
.sla{
    display: flex;
    flex-direction: column;
}

.Shortline{
    position: relative;
    text-align: center;
}

.Shortline::after{
    content: " ";
    position: absolute;
    background-color: yellow;
    bottom: 15px;
    left: 50%;
    width: 200px;
    transform: translateX(-50%);
    height: 3px;
}

.ProportionalLine{
    display: inline-block;
    border-bottom: 3px solid yellow;
    margin: auto;
    padding: 0 10px;
}

.line{
    border-bottom: 3px solid yellow;
    padding-bottom: 1px;
}

.HighlightLine{
    border-bottom: 3px solid yellow;
    border-top: 3px solid yellow;
    background-color: var(--backgroud-variação);
    margin: 10px;
}


