@charset "UTF-8";
:root{
    --background:#1e1540f1;
    --destaque1:#614BF2;
    --acompanhamento:#C290FF;
    --backgroud-secundario:#321473;
    --destaque2:#07F2DB;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

body{
    height: 100vh;
    background-color: black;
    background-image: url(image/backgroud.jpeg);
    background-position: top right;
    background-size: cover;
    background-repeat:no-repeat;
}

header{
margin: 0px 0px 0px 5px;
}

nav{
    background-color: var(--backgroud-secundario);
    padding-left: 10px;
    width: fit-content;
    margin: auto;
    margin: 0px 0px 15px 15px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.342);
}

nav > a{
    color: yellow;
    font-weight: bold;
    transition-duration: 1s;
}

nav > a:hover{
    background-color: var(--acompanhamento);
    color: var(--destaque2);
}

main{
    background-color:var(--background);
    text-align: center;
    text-align: justify;
    padding: 15px;
    margin: auto;
    max-width: 1000px;
    min-width: 250px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.411);
}

footer{
    background-color: var(--acompanhamento);
    padding-left: 10px;
    max-width: 1000px;
    min-width: 250px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.411);
}

footer> p{
    color: yellow;
    font-size: large;
    font-weight: bold;
    padding: 0px;
}

p{
    text-indent: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: justify;
    padding: 10px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    color: var(--destaque2);
    text-align: center;
    padding: 15px;
}

a{
    color: var(--destaque2);
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    padding: 0px 10px;
}

.container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.container > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

tr{
    background-color: var(--acompanhamento);
}

th{
    text-indent: 5px;
}

td{
    text-align: center;
    padding: 5px;
}
